.category-card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card .product-content {
  background-color: #e6e9f4;
  padding: 30px 20px;
}
.product-card img {
  width: 100%;
  object-fit: cover;
}
.hover {
  cursor: pointer;
}
.prod-cat {
  opacity: 0.5;
}
.nav-btn-container {
  right: 0;
}
.error-select {
  border: 2px solid red;
}
.pass-icon {
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.error {
  color: red !important;
}
.preview-image img {
  width: 15rem !important;
  margin-top: 10px !important;
}
.add-product-img {
  width: 15rem;
  margin-top: 10px;
}
.prod-img-container .icons-container {
  bottom: 20px;
  right: 0;
}
.heart-header {
  height: 25px;
}
