.story-card {
  padding: 10px 0;
}
.story-card-wrapper:hover .story-card-img {
  transform: scale(1.02);
}
.story-card-img {
  width: 100%;
  border-radius: 10px !important;
  transition: 0.3s;
  height: 230px;
  object-fit: cover;
}
.story-card h4 {
  margin: 15px 0;
  line-height: 30px;
  letter-spacing: 0px;
}
.story-card p {
  opacity: 0.7;
  color: #636376;
}
.categories span {
  background: #b1b1ff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 4px;
}
.hover {
  cursor: pointer;
}
.error {
  color: red;
}
.ellipsis-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.custom-dropdown {
  top: 15px;
  right: 20px;
}
.onboarding-wrapper {
  height: 100vh;
}
.onboarding-inputs input {
  padding: 10px 8px;
  color: #787878;
  border: 1px solid #061438;
  border-radius: 10px;
}
.form-group img {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}
.header nav {
  width: 400px;
}
.nav-wrapper a {
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
.user-details img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.image-preview img {
  width: 400px;
}
